# temp
server/
src/views/
device_events.json
*.xlsx
.DS_Store
.greenlock*

# env
.env.dev
.env.test
.env

# dependency
package-lock.json
node_modules/

# logs
*.out
logs/
*.log

# build
build/

# cert
*.pem